<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/organic.css" rel="stylesheet"/>
    <title>Organic Waste Request</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/9.8.1/firebase-app.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&family=Oswald:wght@200&family=Poppins:wght@100&family=Roboto+Condensed:wght@300&family=Rubik&display=swap" rel="stylesheet">
  </head>
<body>

   <div class="main">
    <div class="overlay">
      <h1>Organic Waste Request</h1>

      <div id="request-container">
  
      </div>
      <script type="module" src="js/organic_req.js"></script>
    </div>
   </div>

</body>
</html>